In [85]:
import requests as req
import json
import pandas as pd
import numpy as np

kan = pd.read_csv('WK2000.csv',index_col=0)

In [109]:
base = 'https://api.wanikani.com/v2'
token = ''
head = {'Authorization': f'Bearer {token}'}

#1-20, 21-40, 41-60 is best increments for reading all subjects (1000 limit)
#1-2, 13-24, 25-36, 37-48, 49-60 is best increments for reading all assignments (500 limit)

min_level = 13
max_level = 24

lvlstr=''
for l in range(min_level,max_level+1):
    lvlstr+=str(l)
    lvlstr+=','
lvlstr = lvlstr[:len(lvlstr)-1]

# endpoint = f'subjects?levels={lvlstr}&types=kanji'
endpoint = f'assignments?srs_stages=9&subject_type=kanji'

response = req.get(f'{base}/{endpoint}',headers=head)
res = json.loads(response.text)
print(len(res['data']))

500

In [110]:
res['data'][1]

{'id': 112576337,
 'object': 'assignment',
 'url': 'https://api.wanikani.com/v2/assignments/112576337',
 'data_updated_at': '2020-05-16T19:36:57.001392Z',
 'data': {'created_at': '2018-08-17T22:39:44.736802Z',
  'subject_id': 2,
  'subject_type': 'radical',
  'srs_stage': 9,
  'unlocked_at': '2018-08-17T22:39:44.731779Z',
  'started_at': '2018-08-17T22:59:38.802093Z',
  'passed_at': '2018-08-21T23:47:31.679247Z',
  'burned_at': '2019-02-09T02:54:33.677470Z',
  'available_at': None,
  'resurrected_at': None,
  'hidden': False}}

In [101]:
kan

,Level,Character,Meanings,Onyomi,Kunyomi
ID,,,,,
440,1,一,['One'],"['いち', 'いつ']",['ひと']
456,1,川,['River'],['せん'],['かわ']
455,1,山,['Mountain'],['さん'],['やま']
454,1,女,['Woman'],"['じょ', 'にょ', 'にょう']","['おんな', 'め']"
453,1,大,"['Big', 'Large']","['たい', 'だい']",['おお']
...,...,...,...,...,...
2449,60,升,"['Grid', 'Measure']",['しょう'],['ます']
2450,60,殉,['Martyr'],['じゅん'],NaN
2451,60,煩,"['Annoy', 'Annoying']","['はん', 'ぼん']","['うるさ', 'わずら']"
2443,60,拷,['Torture'],['ごう'],NaN
2446,60,謹,"['Humble', 'Discreet']",['きん'],['つつし']

In [105]:
ids = [d['data']['subject_id'] for d in res['data']]
ids

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 25,
 8762,
 8761,
 8763,
 442,
 441,
 453,
 447,
 440,
 449,
 456,
 455,
 444,
 445,
 446,
 443,
 457,
 448,
 452,
 454,
 450,
 451,
 2469,
 2470,
 2506,
 2480,
 2481,
 2482,
 2483,
 2497,
 2498,
 2471,
 2472,
 2503,
 2493,
 2494,
 2495,
 2496,
 2499,
 2500,
 2501,
 2502,
 7560,
 2475,
 3402,
 2489,
 2490,
 2491,
 2492,
 2473,
 2474,
 2476,
 2484,
 2467,
 2468,
 2477,
 2485,
 30,
 8733,
 17,
 24,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 126,
 140,
 465,
 467,
 468,
 471,
 476,
 478,
 483,
 856,
 2486,
 2487,
 2488,
 2504,
 2505,
 459,
 479,
 469,
 466,
 484,
 486,
 2517,
 2518,
 464,
 485,
 477,
 472,
 494,
 2546,
 481,
 487,
 461,
 474,
 460,
 470,
 7517,
 492,
 490,
 488,
 458,
 473,
 491,
 2541,
 7515,
 7561,
 7562,
 7563,
 7614,
 7615,
 7616,
 475,
 463,
 2519,
 480,
 482,
 489,
 462,
 2527,
 2529,
 2530,
 2531,
 493,
 2556,
 2557,
 2558,
 2567,
 2520,
 2521,
 2586,
 2587,
 2561,
 2562,
 2563,
 2564,
 2566,
 3237,
 2528,
 2542,
 2543,
 2544,
 2545,
 2532,
 2534,
 2547,
 7728,
 2508,
 2569,
 2570,
 2583,
 2552,
 2554,
 2555,
 2535,
 2536,
 2516,
 2585,
 2522,
 2523,
 2524,
 2525,
 2526,
 2580,
 2550,
 2581,
 2582,
 2512,
 2513,
 2514,
 2551,
 2553,
 2548,
 2549,
 2511,
 2515,
 2537,
 2538,
 2539,
 2568,
 2573,
 2575,
 2584,
 2509,
 2510,
 2533,
 2565,
 2540,
 2478,
 7465,
 57,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 87,
 102,
 210,
 8764,
 8765,
 495,
 499,
 500,
 501,
 502,
 504,
 505,
 506,
 507,
 511,
 515,
 520,
 521,
 514,
 2574,
 8659,
 8735,
 2479,
 2507,
 2571,
 2572,
 2559,
 2560,
 8693,
 513,
 2613,
 2614,
 2615,
 498,
 516,
 525,
 2609,
 522,
 517,
 2619,
 509,
 496,
 524,
 2604,
 2620,
 2621,
 2631,
 2632,
 2633,
 2634,
 2607,
 2608,
 7518,
 512,
 5389,
 2601,
 2602,
 2603,
 523,
 508,
 526,
 850,
 497,
 2605,
 2606,
 503,
 518,
 510,
 2588,
 2589,
 2590,
 7519,
 2627,
 2628,
 2629,
 2630,
 7455,
 519,
 2643,
 2639,
 2640,
 2635,
 2636,
 2637,
 2596,
 2623,
 2593,
 2594,
 2595,
 7564,
 2591,
 2612,
 2622,
 2576,
 2577,
 2578,
 2579,
 3407,
 2625,
 2626,
 2610,
 2624,
 2616,
 2641,
 2642,
 7669,
 91,
 7729,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 100,
 101,
 116,
 154,
 211,
 8766,
 8767,
 8768,
 99,
 537,
 532,
 533,
 536,
 538,
 543,
 544,
 546,
 547,
 549,
 555,
 556,
 534,
 3404,
 7521,
 7565,
 8660,
 3403,
 2617,
 2618,
 2638,
 2611,
 8734,
 2597,
 2598,
 2599,
 2600,
 3405,
 554,
 561,
 562,
 2648,
 2649,
 2650,
 2651,
 2652,
 2653,
 2668,
 2669,
 553,
 540,
 559,
 2725,
 541,
 551,
 539,
 545,
 2729,
 2730,
 529,
 530,
 542,
 557,
 564,
 527,
 550,
 535,
 563,
 558,
 2726,
 2692,
 548,
 2655,
 3501,
 528,
 560,
 2662,
 2663,
 2664,
 2665,
 2666,
 3413,
 2680,
 2681,
 2682,
 2683,
 7522,
 2667,
 531,
 2733,
 2734,
 2693,
 552,
 2731,
 2732,
 2684,
 2685,
 2686,
 2736,
 2737,
 2711,
 2712,
 2713,
 2739,
 2716,
 2689,
 2656,
 2657,
 2658,
 2659,
 2660,
 2727,
 2728,
 2694,
 2695,
 2703]

In [69]:
ids = [d['id'] for d in res['data']]
WKlvl = [d['data']['level'] for d in res['data']]
char = [d['data']['characters'] for d in res['data']]
imi = []
onyo=[]
kuyo=[]
for d in res['data']:
    temp_dat = d['data']
    on=[]
    kun=[]
    for r in temp_dat['readings']:
        if r['type'] == "onyomi":
            on.append(r['reading'])
        if r['type'] == "kunyomi":
            kun.append(r['reading'])
    if len(on) > 0:
        onyo.append(on)
    else:
        onyo.append(np.nan)
    if len(kun) > 0:
        kuyo.append(kun)
    else:
        kuyo.append(np.nan)
        
    mean=[]
    for m in temp_dat['meanings']:
        mean.append(m['meaning'])
    imi.append(mean)

print('Length Check: ',len(ids),len(WKlvl),len(char),len(imi),len(onyo),len(kuyo))

Length Check:  713 713 713 713 713 713

In [70]:
df = pd.DataFrame([ids,WKlvl,char,imi,onyo,kuyo]).T
df.columns = ['ID','Level','Character','Meanings','Onyomi','Kunyomi']
df.index = df['ID']
df = df.drop(columns='ID')
df

     Level Character           Meanings    Onyomi    Kunyomi
ID
496     32         久        [Long Time]  [きゅう, く]       [ひさ]
1036    21         祈             [Pray]       [き]       [いの]
1123    21         敵            [Enemy]      [てき]  [かな, かたき]
1124    21         済   [Come To An End]      [さい]        [す]
1125    21         委        [Committee]       [い]       [ゆだ]
...    ...       ...                ...       ...        ...
8994    33         屁  [Flatulence, Gas]       [ひ]        [へ]
8995    38         璧  [Disc, Jade Disc]      [へき]       [たま]
8996    23         痒            [Itchy]      [よう]       [かゆ]
9028    25         莫          [Endless]      [ばく]        NaN
9251    28         揃         [Complete]      [せん]       [そろ]

[713 rows x 5 columns]

In [71]:
# dat0_20 = df.copy()
# dat21_41 = df.copy()
# dat42_60 = df.copy()

# print(dat0_20[:3],dat21_41[:3],dat42_60[:3])

# df = pd.concat([dat0_20,dat21_41,dat42_60])
# df = df.sort_values(by='Level')
# df.to_csv('WK2000.csv')

(    Level Character Meanings    Onyomi Kunyomi
 ID
 440     1         一    [One]  [いち, いつ]    [ひと]
 441     1         二    [Two]       [に]    [ふた]
 442     1         九   [Nine]  [く, きゅう]   [ここの],
      Level Character     Meanings    Onyomi    Kunyomi
 ID
 496     32         久  [Long Time]  [きゅう, く]       [ひさ]
 1036    21         祈       [Pray]       [き]       [いの]
 1123    21         敵      [Enemy]      [てき]  [かな, かたき],
      Level Character    Meanings Onyomi Kunyomi
 ID
 466     51         又     [Again]    NaN    [また]
 1804    42         克  [Overcome]   [こく]     NaN
 1805    42         到   [Arrival]   [とう]     NaN)

,Level,Character,Meanings,Onyomi,Kunyomi
ID,,,,,
440,1,一,['One'],"['いち', 'いつ']",['ひと']
456,1,川,['River'],['せん'],['かわ']
455,1,山,['Mountain'],['さん'],['やま']
454,1,女,['Woman'],"['じょ', 'にょ', 'にょう']","['おんな', 'め']"
453,1,大,"['Big', 'Large']","['たい', 'だい']",['おお']
...,...,...,...,...,...
2449,60,升,"['Grid', 'Measure']",['しょう'],['ます']
2450,60,殉,['Martyr'],['じゅん'],NaN
2451,60,煩,"['Annoy', 'Annoying']","['はん', 'ぼん']","['うるさ', 'わずら']"
2443,60,拷,['Torture'],['ごう'],NaN
2446,60,謹,"['Humble', 'Discreet']",['きん'],['つつし']

In [111]:
kanstr=''
for obj in subjects['data']:
    kanstr+=obj['data']['slug']
    
with open("WK_current.txt",'r',encoding="utf-8") as reader:
    old = reader.read()
new = old+kanstr
with open("WK_current.txt",'w',encoding="utf-8") as writer:
    writer.write(new)

In [93]:
with open("WK_lvl10_test.txt",encoding="utf-8") as file:
    soup = file.read()

letters = "abcdefghijklmnopqrstuvwxyz"
caps = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
digits = "0123456789"
hira = """あいうえお
        かきくけこがぎぐげご
        さしすせそざじずぜぞ
        たちつてとだぢづでど
        なにぬねの
        はひふへほばびぶべぼぱぴぷぺぽ
        まみむめも
        やゃゆゅよょ
        らりるれろ
        わん"""

for c in soup:
    if c in letters:
        soup = soup.replace(c,"")
        continue
    if c in caps:
        soup = soup.replace(c,"")
        continue
    if c in digits:
        soup = soup.replace(c,"")
        continue
    if c in hira:
        soup = soup.replace(c,"")
        continue
        
soup = soup.replace("\n","")
soup = soup.replace("/","")
soup = soup.replace(" ","")
soup = soup.replace(",","")
soup = soup.replace("-","")
soup = soup.replace("©","")

soup

'新錠現焦上下大工八入山口九一人力川七十三二女玉本子丸正土犬夕出目了火五四才手天王左中月々田右六小立丁日刀千木水白文円矢市牛切方戸太父少友毛半心内生台母午北今古元外分引止用万広冬竹車央写仕耳早気平花足打百氷虫字男主名不号他去皿先赤休申見貝石代礼糸町宝村世年角斤青体色来社当図毎羽林行金草里作多肉会交近兄雨米走同言自形皮空音学光考回谷声西何麦弟全後血両明京化国科亡死画地東食直前有私知活長曲首次夜姉点安室海羊店南星州茶思歩向妹辺付札鳥黒船必末氏失魚以組家欠未紙通民理由校雪強夏高教時弱週風記黄答反君局買雲楽数決絵住電森助馬間場医朝番所池究道役研身者支話投対受事美予服度発定談表客重持負相要新部和県保返乗屋売送苦泳仮験物具実試使勝界進酒始業算運漢鳴集配飲終顔落農速頭聞院調鉄語葉習軽線最開頁ページ親公読求転路病横歌起'